h2	El globo api 
div.container
	div.row
		div.span3.bs-docs-sidebar
			ul.nav.nav-list.bs-docs-sidenav.affix
				li: a(href="") Contenido de la api
				li: a(href="") Soporte rest

		div.span9
			div.contentApp
				label
					span Buscar Estado:
					input(type="text", placeholder="Ingresa tu Estado", ng-model="query")
				table.table.table-striped
					thead
						tr
							th Estados de la republica
							th Url destino
							th Acciones

					tbody
						tr(ng-repeat="estado in model.estados | filter:query | orderBy:name")
							td {{estado.name}}
							td {{estado.url}}
							td: button.btn(ng-click="getSucursales(estado)") Sucursales

			div.restApi