div.container.row
   //- span.span4.offset2(style="padding:50px 0 0")
   //-    a(href="#/lacosteya")
   //-       img(src="http://www.lacostena.com.mx/assets/images/logo.png", alt="")
   span.span3
      a(href="#/elglobo")
         img(src="http://www.elglobo.com.mx/img/Home/globo_logo.png", alt="")
div.container
