h2	La costeña api 
div.container
	div.row
		div.span3.bs-docs-sidebar
			ul.nav.nav-list.bs-docs-sidenav.affix
				li: a(href="") Contenido de la api
				li: a(href="") Soporte rest

		div.span8
			div.contentApp(ng-init="recetario =false")
				table.table.table-striped(ng-show="!recetario")
					thead
						tr
							th Nombre de la seccion 
							th Url destino
							th ir a la receta

					tbody
						tr(ng-repeat="categoria in model.categorias")
							td {{categoria.name}}
							td {{categoria.url}}
							td: button.btn(ng-click="sendReceta(categoria);") Ir al recetario
				div.recetario(ng-show="recetario")
					h4.span5 Recetas de la seccion {{categoria}}
					button.btn.btn-primary(ng-click="recetario = false") Regresar
					ul(class="thumbnails")
							li(class="span7",ng-repeat="receta in model.recetas").row
								h4 {{receta.name}}
								div.row
									img(src="{{receta.images.platillo}}", style="margin:10px").span3.img-polaroid
									img(src="{{receta.images.producto}}", alt="")
								table.table.table-striped
									thead
										tr
											th Cantidad
											th Ingrediente
									tbody
										tr(ng-repeat="ingrediente in receta.listadoIngredientes")
											td{{ingrediente.cantidad}}
											td{{ingrediente.descripcion}}
								p(style="text-align: justify; font-size:12px;").span7 {{receta.preparacion}}
			div.restApi