doctype 5
html(ng-app="apiMobile")
   head
   title= title
   link(rel='stylesheet', href='/stylesheets/style.css')
   script(type="text/javascript", src="/components/jquery/jquery.js")
   script(type="text/javascript", src="/components/angular/angular.js")
   script(type="text/javascript", src="/javascripts/app.js")
   script(type="text/javascript", src="/javascripts/controller.js")
   body
      div.navbar.navbar-inverse.navbar-fixed-top
         div.navbar-inner
            div.container
               div.nav-collapse.collapse
                  ul.nav
                     li.active: a(href="#")  Home
                     //-li: a(href="#/lacosteya") La costeña
                     li: a(href="#/elglobo") El globo
      div.container(ng-view)
    